{
  "extends": [
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ],
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "rules": {
    "semi": "off",
    "quotes": ["error", "double"],
    "prettier/prettier": 0,
    "object-curly-spacing": ["error", "always"],
    "sort-imports": ["error", { "ignoreDeclarationSort": true }],
    "max-len": ["error", { "code": 99999, "comments": 120 }],
    "react/no-unescaped-entities": "off",
    "react/jsx-no-target-blank": "off",
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/quotes": ["error", "double"],
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/comma-dangle": ["error", "always-multiline"],
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-misused-promises": ["error", {
      "checksVoidReturn": false
    }],
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": { "delimiter": "semi", "requireLast": true },
      "singleline": { "delimiter": "semi", "requireLast": false }
    }],
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": "error",
    "import/order": ["error", {
      "pathGroups": [
        {
          "pattern": "@src/**",
          "group": "unknown",
          "position": "before"
        },
        {
          "pattern": "@public/**",
          "group": "unknown",
          "position": "before"
        },
        // ------
        {
          "pattern": "@core",
          "group": "unknown"
        },
        // ------
        {
          "pattern": "@utils",
          "group": "internal"
        },
        // ------
        {
          "pattern": "@components",
          "group": "internal",
          "position": "after"
        },
        {
          "pattern": "@sections",
          "group": "internal",
          "position": "after"
        }
      ],
      "pathGroupsExcludedImportTypes": ["builtin"],
      "groups": [
        "builtin",
        "external",
        "unknown",
        "internal",
        ["sibling", "parent"],
        "index",
        "object",
        "type"
      ],
      "newlines-between": "always",
      "alphabetize": {
        "order": "asc"
      }
    }]
  }
}