.container {
  width: 100vw;
  height: 100vh;
  padding: var(--dimension-spacing-medium);
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container a {
  margin: 0 6px
}